In [4]:
import pandas as pd

In [2]:
import numpy as np
import matplotlib.pyplot as plt

In [5]:
s = pd.Series([1,3,5,np.nan, 6,9])

In [6]:
len(s)

6

In [7]:
dates = pd.date_range('20181015', periods=6)

TypeError: data type not understood

In [11]:
df = pd.DataFrame(np.ones((6,4)), index=dates, columns=list('ABCD'))

In [12]:
df

              A    B    C    D
2018-10-15  1.0  1.0  1.0  1.0
2018-10-16  1.0  1.0  1.0  1.0
2018-10-17  1.0  1.0  1.0  1.0
2018-10-18  1.0  1.0  1.0  1.0
2018-10-19  1.0  1.0  1.0  1.0
2018-10-20  1.0  1.0  1.0  1.0